@import "official.css";

/* Typora主题元数据 */
.theme-name {
    font-family: "仿宋_GB2312", "FangSong", "Microsoft YaHei", sans-serif;
}

/* 主题描述 */
.theme-description {
    font-family: "仿宋_GB2312", "FangSong", "Microsoft YaHei", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
}